.container {
  padding: 0 40px;
}

section {
  padding: 16px;
}

h1 {
  margin-bottom: 12px;
}

.inverse {
  color: #fff;
  background-color: #fbb5b5;
  /* ここがポイント */
  box-shadow: 0 0 0 100vmax #fbb5b5;
  clip-path: inset(0 -100vmax);
}

.img-warp {
 text-align: center;
}

.img {
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
}